@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.FDAPage {
  padding: 1rem 3rem 1rem;
  background-color: #8082e6;
  height: 100%;
}

.FDAPage-body {
  padding: 0rem 3rem 3rem 3rem;
  background-color: #8082e6;
}

.breadcrumbs {
  padding: 1rem 3rem 1rem;
  background-color: #8082e6;
}

.FDAPage.loading {
  pointer-events: none;
}

.FDAPage.loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FDAPage.loading .MuiCircularProgress-root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FDAPage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FDAPage-link {
  color: #61dafb;
}

.profile:hover {
  cursor: pointer;
}

.submenu:hover {
  cursor: pointer;
  background-color: #e5e7ec;
}

.LoadingOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(214, 214, 214, 0.7);
  z-index: 999;
}


.notificationDrug:hover {
  background-color: rgba(214, 214, 214, 0.7);
}

.drugInformation {
  background-color: rgba(143, 140, 140, 0.7);
  cursor: pointer;
}

